@using FIT_Api_Examples.Modul3.Models
@{
   
}

<form action="/MvcIspit/GetByDatum">

    Odaberite dva datuma<br />
    Od <input value="" /> <br />
    Do <input value="" />


    <input type="submit" value="Pretrazi" />

</form>